.header {
    margin-top: 10px;
}

.header-comptable {
  color: #ff8800;
}

.active-comptable a {
    background-color: #ff8800!important;
}

 a.header-comptable:hover {
    color: #c96c02;
}

a.active-comptable:hover {
    color: white!important;
}

.alert-info{
    text-align: center;
    font-size: larger;
    font-weight: 700;
}

.alert-danger{
     text-align: center; 
     font-size: larger;
     font-weight: 700;
}